<div class="data-fields">
  <div style="padding-block: 1rem;">
    Please provide the information below to calculate the water billing for the block.
  </div>
  <div style="display: flex; flex-direction: row; gap: 0.25rem;">
    <form [formGroup]="importForm"
      style="display: flex; flex-direction: column; gap: 0.25rem; flex-grow: 1; border: 1px solid black; padding: 0.25rem; border-radius: 0.25rem;">
      <div style="padding: 0.25rem 0.5rem;">
        <span>Import and Calculations</span>
      </div>
      <div class="field-set">
        <label for="ohtInput">OHT Input (Litres)</label>
        <input formControlName="ohtInput" type="number" name="ohtInput" id="ohtInput">
      </div>
      <div class="field-set">
        <label for="tankerPrice">Tanker Price (Rs.) <small><em>one tanker is equal to 6000 ltrs.</em></small></label>
        <input formControlName="tankerPrice" type="number" name="tankerPrice" id="tankerPrice">
      </div>
      <div class="field-set">
        <label for="importFile">Vendor Report</label><br>
        <label for="importFile" class="button" [ngClass]="{'disabled': !importForm.valid}"
          style="display: inline-block; margin-top: 0.2rem;">Select File
          <input name="importFile" id="importFile" type="file" (change)="onFileChange($event)" (click)="canSelectReport($event)"
            style="max-width: 100%; width: 100%; display: none;" />
        </label>
      </div>
    </form>
    <form [formGroup]="exportForm"
      style="display: flex; flex-direction: column; gap: 0.25rem; flex-grow: 2; border: 1px solid black; padding: 0.25rem; border-radius: 0.25rem;">
      <div style="padding: 0.25rem 0.5rem;">
        <span>Export Configurations</span>
      </div>
      <div class="field-set">
        <label for="txtBlock">Block Name</label>
        <select name="txtBlock" id="txtBlock" formControlName="blockName">
          <option ngValue="" hidden>Select</option>
          <option *ngFor="let block of blockList" [ngValue]="block.block">{{block.block}}</option>
        </select>
      </div>
      <div style="display: flex; flex-direction: row; gap: 0.25rem;">
        <div class="field-set">
          <label for="datePeriodFrom">Billing Period From</label>
          <input formControlName="billingFrom" type="date" name="datePeriodFrom" id="datePeriodFrom">
        </div>
        <div class="field-set">
          <label for="datePeriodTo">Billing Period From</label>
          <input formControlName="billingTo" type="date" name="datePeriodTo" id="datePeriodTo">
        </div>
      </div>
      <div style="display: flex; flex-direction: row; gap: 0.25rem;">
        <div class="field-set">
          <label for="dateChagred">Charge Date</label>
          <input formControlName="billingDate" type="date" name="dateChagred" id="dateChagred">
        </div>
        <div class="field-set">
          <label for="datePaymentLast">Last Date</label>
          <input formControlName="dueDate" type="date" name="datePaymentLast" id="datePaymentLast">
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="sheet">
  <div style="padding-block: 1rem; display: flex; justify-content: space-between; align-items: center;">
    <span>Please use the check box to use the average reading for the unit on the given date.</span>
    <div>
      <!-- <button (click)="export()" class="button" [disabled]="!exportForm.valid">Export</button> -->
    </div>
  </div>
  <div class="scroll-area">
    <div>
      <table>
        <tr style="border-top: 5px double #333;">
          <td colspan="3">
            <strong>Calculated Consumption:</strong>
            <br>
            <small>(Sum of Metered Totals and Averaged Totals)</small>
          </td>
          <td colspan="2">
            {{calculatedConsumption.toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2,
            minimumFractionDigits: 2 })}}
            <br>
            <small>(Litres)</small>
          </td>
          <td colspan="3" *ngIf="importForm.value.ohtInput">
            <strong>Consumption Variation:</strong>
            <br>
            <small>(OHT Input - Calculated)</small>
          </td>
          <td colspan="2" *ngIf="importForm.value.ohtInput">
            {{(importForm.value.ohtInput ? importForm.value.ohtInput - calculatedConsumption : 0).toLocaleString('en-IN', {
            minimumIntegerDigits: 1,
            maximumFractionDigits:2,
            minimumFractionDigits: 2 })}}
            <br>
            <small>(Litres)</small>
          </td>
        </tr>
        <tr>
          <th>Serial</th>
          <th>Is Common Usage</th>
          <th>Unit Number</th>
          <th>Unit Average</th>
          <th>Metered Total</th>
          <th>Averaged Total</th>
          <th>Variation</th>
          <th>Common Usage Share</th>
          <th>Billable</th>
          <th>Billed Amount</th>
          <th *ngFor="let val of importHeaders">
            <label style="cursor: pointer;">
              {{val}}
              <input type="checkbox" (click)="useAverageForDateChanged($event, val)" />
            </label>
          </th>
        </tr>
        <tbody>
          <tr *ngFor="let row of sheet; let i = index" [ngClass]="{'common-usage': row.isCommon}">
            <td>
              {{i + 1}}
            </td>
            <td>
              <span>
                <input type="checkbox" [checked]="row.isCommon" (click)="commonUsageChanged($event, row)" />
              </span>
            </td>
            <td>
              {{row.unitName}}
            </td>
            <td>
              {{row.unitAverage.toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td>
              {{row.measuredTotal.toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td>
              {{row.averagedTotal.toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td>
              {{(importForm.value.ohtInput?row.variation:0).toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td>
              {{(commonUsageUnits?row.commonShare:0).toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td>
              {{row.billable.toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td>
              {{(importForm.value.tankerPrice?row.billed:0).toLocaleString('en-IN', { minimumIntegerDigits: 1, maximumFractionDigits:2, minimumFractionDigits: 2 })}}
            </td>
            <td *ngFor="let val of row.usage"
              [ngClass]="{'zero': !val.reading, 'exceptional': val.reading > ((row?.unitAverage ?? 0) * 2.5) || val.reading < 0, 'average': val.useAverage}">
              <label style="cursor: pointer;">
                {{(val.useAverage ? row.unitAverage : val.reading).toLocaleString('en-IN', { minimumIntegerDigits: 1,
                maximumFractionDigits:2, minimumFractionDigits: 2 }) }}
                <input type="checkbox" [checked]="val.useAverage" (click)="useAverageChanged($event, row.unitName, val.date)" />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
