.header__staff {
  padding: 0 1rem;
  background-color: #98c1d9;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;

    li {
      list-style: none;
      display: inline-block;
    }
  }

  a {
    font-weight: 400 !important;
    font-size: 0.8rem;

    &.tab {
      display: inline-block;
      text-decoration: none;
      padding: 0.55rem 0.75rem;
      color: #fff9;

      &.selected {
        font-weight: 600 !important;
        border-bottom: 0.25rem solid #fff;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-top: 0.25rem solid transparent;
        color: #fff;
      }
    }
  }
}
