:host {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 10mm;

  &>.page {
    width: 210mm;
    min-width: 210mm;
    height: 297mm;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 10px 0px gray;
    padding: 15mm;

    &>.page__margin {
      width: 100%;
      height: 100%;
      border: 0.5px dashed lightgray;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-content: start;
      align-content: start;
      gap: 5mm;
    }
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .page {
    position: absolute;
    top: 0;
    left: 0;

    * {
      visibility: visible;
    }

    &>.page__margin {
      border: none !important;

      .no-print,
      .no-print * {
        visibility: hidden !important;
      }
    }

    ~* {
      display: none;
    }
  }


  @page {
    size: A4;
    margin: 0;
  }
}
